/*1.Bags section
2.Join section
3.Fashion section
4.Navigation bar
5.Reviews
6.Updates section
7.Brands section
8.Fashion news section
*/
	
	/*General*/
*{
	box-sizing: border-box;
}
body{
	padding: 0;
	margin: 0;	
	font-family: 'Inter', sans-serif;
}
:root{
	--main-color:#2945FF;
	--text-color-dark: #000;
	--text-color-light: #fff;
	--title-color:#000545 ;
}	
	/*1.Bags section*/
.container{
	width: 100%;
	padding: 0 30px;
	max-width: 1140px;
	margin: 0 auto;
}
.section-label{
	color:  var(--main-color);
	width: 100%;
	height: 32px;
	font-size: 24px;
	line-height: 32px;
	letter-spacing: -0.03em;
}
.section-title{
	color:var(--title-color);
	width: 100%;
	height: 57px;
	margin-top: -35px;
	line-height: 111%;
	letter-spacing: -0.03em;
	font-size: 40px;
}
.bags{
	display: flex;	
}
.hrefbag{
	padding: 30px 20px 60px 54px;
	margin-bottom:48px;
	text-decoration: none;
}
.hrefbag:hover {
	background: var(--main-color);
	border-radius: 24px;
	color: var(--text-color-light);
}
.bag-title{
	color:var(--title-color);
	font-size: 23px;
	line-height: 111%;
	letter-spacing: -0.03em;
}
.text{
	color:var(--title-color);
	font-size: 14px;
	font-weight: 400;
	line-height: 2em;
}
.learnmore{
	color:  var(--main-color);
	font-size: 16px;
	line-height: 100%;
	position: relative
}
.learnmore::before{
	content:"";
	width: 21px;
	border: 1px solid;
	position: absolute;
	left: 0;
	bottom: -9px;
}
.hrefbag:hover .learnmore,
.hrefbag:hover .text,
.hrefbag:hover .bag-title{
	color: #fff;
}
	/*./ Bags section*/
	/*2.Join section*/
.joinsection{
	max-width:1140px ;
	width: 100%;
	margin: auto;
	position: relative;	
	display: flex;
	padding: 0 30px;
}
.mainimg{
	width: 100%;
	display: block;
}
.joinsection::before{
	content: "";
	width:1062px;
	height:563px;
	background: var(--main-color) ;
	position: absolute;
	top:-24px;
	right:-38px;
	z-index: -1;
}
.join_text{
	position: absolute;
	width: 380px;
	right: 100px;
}
.join_section_title{
	color: var(--text-color-light);
	font-size: 68px;
}
.join_p{
	color: var(--text-color-light);
	margin: 50px 0 0 auto;
	font-size: 18px;
	line-height: 30px;
	letter-spacing: -0.03em;
}
.join_button{
	background: var(--main-color);
	width: 178px;
	height: 56px;
	border-radius: 100px;
	color: var(--text-color-light);
	border: none;
	font-size: 18px;
	margin-top: 52px;
}
.dotted_img{
	position: absolute;
	top: -24px;
	left: -24px;
	z-index: -1;
}
.dotted_img_2{
	position: absolute;
	bottom: -44px;
	right: -34px;
	z-index: -1;
}
	/*./ Join section */

	/*3.Fashion section*/
.fashionsection{
	max-width: 1140px;
	width: 100% ;
	margin:80px auto;
	display: flex;
	position: relative;
	padding: 0 30px;
}
.fashion_text{
	margin: auto;
	padding-right:100px;
}
.h1_fashion{
	font-size: 68px;
	line-height: 111%;
	letter-spacing: -0.03em;
	color: var(--title-color);
}
.fashion_btn{
	background: var(--main-color);
	width: 178px;
	height: 56px;
	border-radius: 100px;
	color: var(--text-color-light);
	font-size:18px;
	border: none;
	margin-top: 23px;
}

.dotted_img_fshn{
	position: absolute;
	top: -34px;
	left:-34px;
	z-index: -1;
}
.dotted_img_2_fshn{
	position: absolute;
	bottom: -34px;
	right: -34px;
	z-index: -1;
}
	/*4.Navigation bar*/
.mainheader{
	max-width: 1140px;
	width: 100%;
	margin: 38px auto;
	display: flex;
	align-items: baseline;
	padding: 0 30px;
}
.mainheaderlink{
	flex-grow: 1;
	color: var(--text-color-dark);
}
.fashionlist{
	display: flex;
    list-style-type: none;
}
.fashionli {
    font-weight: 600;
    font-size: 15px;
}
.fashionlink {
    padding: 12px 24px;
    color: var(--text-color-dark);
}
.fashionlink,
.mainheaderlink {
    text-decoration: none;
}

.fashionlink:hover {
	background-color: var(--main-color);
    border-radius: 24px
}
.fashionli:hover .fashionlink{
	color: var(--text-color-light);
}
.logo::after {
    content: "";
    width: 14px;
    border: 1px solid var(--main-color);
    position: absolute;
    bottom: 8px;
}
.logo{
	position: relative;
}
#check{
	display: none;
}
.checkbtn{
	display: none;
}
	/*5.Reviews*/
.reviewsection{
	max-width: 1140px;
	width: 100% ;
	margin:80px auto;
	padding-left: 23px;
}
.imggirl{
	border-radius: 50%;
}
.container_2{
	display: flex;
	margin: -15px;
	overflow: auto;
}
.container_2::-webkit-scrollbar{
	display: none;
}
.people{
	width: 466px;
	text-align: center;
	background: lightblue;
	padding: 25px;
	border-radius: 13px;
	margin: 15px;
	flex-shrink: 0;
}
.reviewsbtn{
	background: ;
	width: 208px;
	height: 56px;
	border-radius: 100px ;
	color: var(--main-color) ;
	font-size:18px;
	background: var(--text-color-light);
	border: 1px solid var(--main-color);
	margin-top: 23px;
}
.reviewsp{
	color: var(--title-color);
	font-size: 34px;
	font-weight: 600;
	margin-top: 12px;
}
.reviewsname{
	font-size: 18px;
	color: var(--main-color);
	margin-top: -13px;
}
.reviewstext{
	font-size: 13px;
}
	/*6.Updates section*/

.updates_section{
	max-width: 1140px;
	width: 100%;
	padding: 0 30px;
	margin: 0 auto;
}
.updates_img{
	position: relative;
}
.dotted_img_updates,
.dotted_img_updates_02,
.dotted_img_updates_4{
	position: absolute;
	top:38px ;
	left:-36px ;
	z-index: -1;
}
.people_updates{
	margin-top: 70px;
}
.updates,
.updates_2{
	display:flex;
}
.updates_text{
	margin: auto;
	padding-left: 124px;
	margin-bottom: 72px;
}
.date{
	font-size:16px;
	color: #A5AEED;
	margin-bottom: 0px;
}
.desktop,
.fashion_h1{
	margin-top: 0px;
}
.mobile,
.dotted_img_updates_2,
.dotted_img_updates_03{
	display: none;
}
.updates_text_2{
	margin: auto;
    margin-bottom: 72px;
    padding-right: 124px;
}
	/*7.Brands section*/
.brands{
	width: 100%;
	padding: 0 30px;
	max-width: 1140px;
	margin: 0 auto;
}
.brand{
	display: flex;
	flex-wrap: wrap;
}
.brand_1{
	width: 33.33%;
}
.brandlink{
	height: 222px;
	border-radius: 24px;
	border: 1px solid rgba(0, 0, 0, 0.2);;
	display: flex;
	background:var(--text-color-light);
	justify-content: center;
	align-items: center;
	margin: 0 15px 15px 0;
}
.brandlink:hover{
	background: var(--main-color);
}
.brand_p{
	font-size: 34px;
	line-height: 38px;
	color:var(--title-color);
	font-weight: 600;
}
.brand_p2{
	font-size: 18px;
	line-height: 30px;
	color: #393F4D;
}
.brand_paragraph{
    max-width: 720px;
    margin: auto;
    text-align: center;
   	letter-spacing: -0.03em;
}
	/*8.Fashion news section*/
.fashionnews{
	width: 100%;
	padding: 0 30px;
	max-width: 1140px;
	margin: 0 auto;
	display: flex;
}
.fashionnews_text{
	margin:100px auto;
	position: relative;
	max-width: 400px;
	padding: inherit;
}
.fashionnews_text::after{
	content: "";
	position: absolute;
	width: 100%;
	border:1px solid #E2E2E2 ;
}
.fashionnewsh3,
.fashionnewsh_3{
	position: relative;
	font-size: 24px;
}
.fashionnewsh3::after{
	content: "";
	position: absolute;
	width: 100%;
	border:1px solid #E2E2E2 ;
	top: -50px;
    left: 0;
}
.learnmore_fshnnews{
	margin-top: 40px;
}
.channelh3{
	margin-top: 50px;
}
.fashionnewsh_3::after{
	content: "";
	position: absolute;
	width: 100%;
	border:1px solid #E2E2E2 ;
	top: -23px;
    left: 0;
}
/*.newsicon{
	display: flex;
	flex-direction: row-reverse;
}*/


@media(max-width:768px){
	/*1.Bags section*/
	.bags{
		flex-direction:column;
	}
	.hrefbag{
		text-align: center;
		padding: 30px 21px;
		margin-bottom: 54px;
	}
	.hrefbag .learnmore::before{
		left: calc(50% - 10px);
	}
	/*2.Join section*/
	.joinsection{
		padding: 24px;
		flex-direction: column;
	}
	.join_text{
		background-color:var(--main-color);
		right: 0;
		width: 100%;
		padding: 13px;
		position: relative;
	}
	.join_section_title{
		font-size: 37px;
	}
	.join_button{
		width: 100%;
		border: 1px solid var(--text-color-light);
	}
	.dotted_img_2,
	.dotted_img,
	.joinsection::before{
		display: none;
	}
	/*3.Fashion section*/
	.fashionsection{
		padding: 38px;
		flex-direction: column-reverse;
	}
	.fashion_text{
		padding-right: 0;
	}
	.h1_fashion{
		padding-top: 28px;
	}
	.fashion_btn{
		width: 100%;
	}
	.dotted_img_fshn {
	    top: -22px;
	    left: -20px;
	}
	.dotted_img_2_fshn {
	    bottom: -34px;
	    right: -34px;
	}
   /* 4.Navigation bar*/
   .logo{
	   	padding-left: 21px;
	}
   .checkbtn {
    	display: flex;
	}
	.icon {
	    font-size: 15px;
	    width: 30px;
	    height: 30px;
	    color: var(--main-color);
	}
	.fashionli {
   		margin-top: 30px;
	}
	.fashionlist {
	    position: fixed;
	    width: 100%;
	    height: 100vh;
	    top: 80px;
	    left: -100%;
	    background: var(--main-color);
	    transition: all 0.5s ease 0s;
	    flex-direction: column;
	    color: var(--text-color-light);
	}
	#check:checked ~ 
	.fashionlist {
    	left: 0px;
    	z-index: 1;
	}
	.fashionlink{
		color: var(--text-color-light);
		font-size: 35px;
		margin-left: 50px;
	}	
	/*6.Updates section*/
	.people_updates{
		width: 100%;
   		margin-top: 70px;
	}
	.updates{
		flex-direction: column;
	}
	.h1_fashion{
		font-size: 51px;
	}
	.updates_text,
	.updates_text_2{
		padding: 0;
	}
	.mobile{
		display: block;
	}
	.date,
	.desktop,
	.fashion_p_2{
		display: none;
	}
	.dotted_img_updates{
		right: -36px;
		left: auto;
	}
	.dotted_img_updates_2 {
	    position: absolute;
	    bottom: -19px;
	    left: -19px;
	    z-index: -1;
	    display: block;
	}
	.updates_2{
		flex-direction: column-reverse;
	}
	.dotted_img_updates_03 {
	    position: absolute;
	    bottom: -19px;
	    right: -19px;
	    z-index: -1;
	    display: block;
	}
    .fashion_img{
		width: 100%;
	}
	/*7.Brands section*/
	.brand_1 {
    width: 50%;
	}
	/*8.jb,m */
	.fashionnews{
		flex-direction: column;
	}
	.fashionnews_text{
		margin-top: 44px;
		max-width: none;
	}
}
